body {
	margin: 0;
	text-align: center;
}

* {
	-webkit-transition: all ease-in-out .2s;
	   -moz-transition: all ease-in-out .2s;
	    -ms-transition: all ease-in-out .2s;
	     -o-transition: all ease-in-out .2s;
	        transition: all ease-in-out .2s;
}

div {
	display: inline-block;
}

header {
	background: #414141;
	padding: 5px 40px;
	text-align: left;
	a, h1 {
		color: #fff;
		text-decoration: none;
	}
	li {
		list-style-type: none;
		text-transform: uppercase;
		margin-left: 10px;
		padding: 5px 7px;
		border: 2px solid #fff;
		-webkit-border-radius: 20px;
		        border-radius: 20px;
		&:hover {
			background: #FFF;
			color: #414141;
		}
	}
	h1, li, ul {
		display: inline-block;
		vertical-align: middle;
	}
}

h1, h2 {
	font-family: 'Roboto Slab';
	font-weight: 300;
}

p, span, a {
	font-family: 'Open Sans';
}


.form {
	vertical-align: middle;
	text-align: left;
	padding: 30px 50px;
	background: #414141;
	margin-top: 30%;
	color: #fff;
	font-family: 'Open Sans';
	* {
		display: block;
	}
	.button, input[type="submit"] {
		margin: 20px auto;
		background: transparent;
		border: none;
		font-size: 18px;
		color: #fff;
		cursor: pointer;
		text-align: center;
		&:hover {
			text-decoration: underline;
		}
	}
	input[type="submit"] {
		margin-bottom: 0;
	}
	span {
		margin-bottom: 10px;
		font-size: 12px;
		color: #aaa;
	}
	input[type="text"], input[type="password"] {
		background: transparent;
		border: none;
		border-bottom: 2px solid #ccc;
		margin: 5px 0;
		color: #fff;
		&:focus {
			border-color: #fff;
		}
	}
	a {
		color: #fff;
		margin: 10px 0;
		text-align: center;
	}
}

#error {
	color: red;
}

#login-indicator {
	color: #fff;
}

.profile {
	text-align: left;
	img {
		width: 300px;
		margin-bottom: 20px;
	}
	h2 {
		display: inline-block;
	}
}

#changer {
	cursor: pointer;
	margin-left: 7px;
}

#login {
	margin: 0;	
}

.profile__pic {
	display: inline-block;
	text-align: left;
	margin-left: 50px;
	vertical-align: top;	
}

.profile_wrapper {
	padding-top: 100px;
}

.pic_change_submit {
	border: none;
	background: #414141;	
	color: #fff;	
	padding: 10px 15px;	
	-webkit-border-radius: 	5px;
	        border-radius: 	5px;	
	cursor: pointer;	
	&:hover {
		-webkit-box-shadow: 0px 0px 10px rgba(41, 41, 41, .4);
		        box-shadow: 0px 0px 10px rgba(41, 41, 41, .4);
	}
}

#exit {
	float: right;
	line-height: 80px;		
}